html body {width: 97vw; padding: .5vw .5vw 0 .5vw;}

h2, h3, h4, h5, p {font-family: 'Roboto', sans-serif; }

div.col-lg-10 > h2 {font-family: 'Montserrat', sans-serif; color: #333333}
div.col-lg-10 > h5, div.col-lg-10 > p {font-family: 'Roboto', sans-serif; color: #333333}


.session-container {
    width: 130%;
    padding: 2% 2% 1% 2%;
    margin-bottom: 2%;
    color: #EFEEE4;
    border-radius: 8px;
}


#filter {
    position: absolute;
    top: 0;
    right: 0;
    border-right: 1px rgb(36, 60, 92, .2) solid;
    color: rgb(36, 60, 92, .5);
}

#time {
    text-align: right;
}

a {
    text-decoration: none;
}

.session-container:hover {
  opacity:0.8;
  }

.avatar, img {
    width: 100%;
}

.container, #sessions_rows {
    margin-top: 2%;
}

.hidden {
    display: none;
}

.avatar {
    border-radius: 50%;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 0.75rem #333333);
}

.map_image {
    width: 50%;
}

#sessions_rows > div.col-8 > a > div > p {margin-bottom: 1%;}

#time {text-align: left; padding-right: 10px;}

@media only screen and (max-width: 768px) {
    #time {text-align: center; padding: 0;}

    .session-container {
        width: 100%;
    }

    .avatar {
        display: inline;
        width: 45%;
        padding-right: 10px;
    }

}